* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #9796f0, #fbc7d4);
}

.maindiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.20);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  width: 650px;
  padding: 30px 0;
}

.option-btn {
  all: unset;
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border: 1px solid black;
  box-shadow: 4px 4px;
  cursor: pointer;
}

.option-btn:hover {
  border-radius: 10px;
  transition: .3s ease-in;
}

.restart-btn {
  all: unset;
  display: block;
  margin: 20px auto;
  padding: 5px 20px;
  border: 1px solid black;
  box-shadow: 4px 4px;
  cursor: pointer;
}

.restart-btn:hover {
  border-radius: 10px;
  transition: .3s ease-in;
}

.title {
  margin-bottom: 30px;
}

li {
  list-style-type: none;
}

.que {
  font-weight: 500;
}